
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chakra+Petch&family=Cinzel:wght@600&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;500&display=swap');
.App {
  text-align: center;
  display: flex;
  flex-direction: row;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todos-container{
/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
gap: 2px;
background: #000000;

}

@media (min-width: 1024px) and (max-width: 1484px) { 
.todos-container{
  
  width: 10vw;
height: 140vh;
}
}

.glassmorphism .App{
  padding: 0;
  margin:0;
}
.form{
/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
gap: 32px;
/* background: #61dafb; */
max-height: 650px;
background: rgba(0, 0, 0, 0.63);
backdrop-filter: blur(10px);
border-radius: 16px;
/* Inside auto layout */
z-index: 2;
}


.search-bar .form-submit-btn{
  
  width:60px; 
  height:60px; 
  border-radius:5px;
  margin-left: 15px;
  border:none;
  background-color:rgba(255,255,255,0.5);
  color:black;
  font-size:16px;
  cursor:pointer;
  display: flex;
}

.cat 
{
  width: 200px;
  height: 50px;
  margin-left: 300px;
  z-index: 3;
  align-self: flex-start;
}

.mcard 
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 360px;
  height: 240px;

  background: #1C1B1D;
  /* M3/sys/dark/outline
  
  token=md.sys.color.outline
  */

  border-radius: 5px;
  border-top: 2.5px solid #929094;
  border-right: 2.5px solid #929094;
  border-left: 1px solid #929094;
  border-bottom: 1px solid #929094;
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
}


.box
{
 display: flex;
 flex-direction: row;
 align-content: space-around;
 margin-left: 40px;
}

.mImageCard{
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  
  width: 360px;
  height: 240px;
  
  /* M3/sys/dark/surface

  */
  background: #1C1B1D;
  /* M3/sys/dark/outline
  
  token=md.sys.color.outline
  */
  border: 1px solid #929094;
  border-radius: 12px;
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame1{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px 32px;
gap: 32px;

width: 785px;
height: 240px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.itemgroup1{
  display: flex;
  flex-direction: column;
}

.circle
{
position: absolute;
width: 389px;
height: 389px;
left: 49px;
top: -55px;

background: radial-gradient(55.8% 55.8% at 50% 50%, rgba(219, 0, 255, 0.91) 0%, rgba(73, 0, 255, 0.449641) 42.5%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.circle2{
  position: absolute;
  width: 489px;
  height: 489px;
  bottom: -280px;
  left: 944px;
  
  background: radial-gradient(55.8% 55.8% at 50% 50%, #FF00E5 0%, rgba(73, 0, 255, 0.449641) 55.04%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  /* overflow: hidden; */
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.headline{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  width: 340px;
  height: 76px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.supporting-text{
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;
  
  width: 360px;
  height: 92px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.refresh{
  width:40px; 
  height:60px; 
  border-radius:15px;
  margin-left: 280px;
  border:none;
  background-color:rgba(255,255,255,0.5);
  color:black;
  font-size:16px;
  cursor:pointer;
  display: flex;
}

.timeAndDate
{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 64px 0px;
gap: 10px;
width: 429px;
height: 230px;
border-radius: 8px;
/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

.search-bar input[type="text"],textarea{
  width:760px; 
  height:40px; 
  border-radius:5px;
  border:none;
  padding:10px;
  /** Medium font **/
  font-size:16px;
  color:white;
  margin-left: 10px;
  background-color:rgba(0,0,0,0.5); 
  border-color: white ;
  z-index: 5;
}

.search-bar {
  border-radius:5px;
  border-color: white ;
  z-index: 5;
  border: #61dafb;
}

input:hover {

  box-shadow: 0px 1px 3px rgb(192, 185, 185);

}

.down-cards-layout{
  display: absolute;
flex-direction: row;
align-items: flex-start;
padding: 22px;
gap: 24px;
width: 873px;
height: 270px;
/* Inside auto layout */


order: 1;
align-self: stretch;
flex-grow: 0;
}

.setting
{
  padding-left: 150px;
  margin-left: 55px;
}

.down-cards
{
  box-sizing: border-box;
/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 423.5px;
height: 206px;

background: #1C1B1D;
/* M3/sys/dark/outline

token=md.sys.color.outline
*/
border: 1px solid #929094;
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

.todo{
  position: absolute;
  left: 800px;
  bottom: 20px;
  scale: 1.1;
  border-color: rgb(93, 92, 92);
  border: 10px;
  
}

.Header{
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 32px;

width: 885px;
height: 392px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.cheader{
  box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 13px 16px;

width: 422.5px;
height: 65px;

/* M3/sys/dark/outline

token=md.sys.color.outline
*/
border-bottom: 1px solid #929094;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.frame3{
  display: flex;
flex-direction: row;
align-items: flex-start;
padding-top: 18px;
margin-left: 20px;
gap: 10px;
width: 392.5px;
height: 132px;


/* Inside auto layout */

flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
}

.links_style{

padding: 10px;
margin-left: 50px;
margin-top: 20px;
background: #29282a;
/* M3/sys/dark/outline

token=md.sys.color.outline
*/
border: 1px solid #929094;
border-radius: 12px;
transform: scale(1.5);
}

.box2{
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
@media (min-width: 1024px) { 
.todos-container{
  width: 100vw;
height: 140vh;
}

.circle{
position: absolute;
width: 389px;
height: 389px;
left: 59px;
top: -5px;
}


.circle2{

  left: 950px;
  bottom: -285px;
  }

@media (max-width: 1370px) { 
 .circle2{
  left:700px;
 }

}
@media (max-width: 1270px) { 
  .circle2{
   left:600px;
  }
  @media (max-width: 1170px) { 
    .circle2{
     left:500px;
    }
 }
}
}

/*This is for developer links integrated*/


.btn-modal {
  background-color: #000000;
   margin-left: 1150px;
   margin-bottom: 50px;
   font-size: 12px;
   z-index: 6;
 }
 
 .modal, .overlay {
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: fixed;
   z-index: 7;
 }
 
 .overlay {
   background: rgba(49,49,49,0.8);
   z-index: 7;
 }
 .modal-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   line-height: 1.4;
   background: #929094;
   padding: 14px 28px;
   border-radius: 3px;
   max-width: 600px;
   min-width: 300px;
   z-index: 7;
 }
 
 .close-modal {
   position: absolute;
   top: 10px;
   right: 10px;
   padding: 5px 7px;
 }

 /*This is css for buttons to save links*/
 @import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
span{
  position: relative;
  display: inline-flex;
  width: 120px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "Save";
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
  content: "sure?";
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}

/*This is chill spot button css*/

.ttbtn,.gtbtn{

  scale: 1.35;
  transition-duration: 2s;
 
}

.ytbtn{
  scale:1.4;
}


.ytbtn:hover{
  scale: 1.2;
  filter: drop-shadow(2px 2px 1px rgb(245, 38, 27))
}


.ttbtn{

  transition-duration: 2s;
 
}


.ttbtn:hover{
  scale: 1.2;
  filter: drop-shadow(2px 2px 1px rgb(51, 180, 249))
}


.gtbtn{

  transition-duration: 2s;
 
}


.gtbtn:hover{
  scale: 1.2;
  filter: drop-shadow(2px 2px 1px rgb(40, 244, 44))
}

.Enigma:hover{
  scale: 1.1;
}

.IIC:hover{
  scale: 1.1;
}

.Robotics:hover{
  scale: 1.1;
}

.links_style{
  border-radius: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Prompt:wght@600&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Mono:wght@300;400&display=swap');

.root{
  padding: 0;
  margin: 0;
}

/*This is for todo application integrated*/


.btn-modal {
 background-color: #000000;
  margin-left: 1150px;
  margin-bottom: 50px;
  font-size: 12px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 6;
}

.overlay {
  background: rgba(49,49,49,0.8);
  z-index: 6;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba( 21, 20, 20, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 16px );
-webkit-backdrop-filter: blur( 16px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 800px;
  min-width: 600px;
  z-index: 6;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}


/*Todo containrer*/

#container{
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  margin: auto;
  color: white;
  max-width: 550px;
  min-height: 200px;
  text-align: center;
  border-radius: 12px;
  padding: 5px;
}

h1{
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}

#box{
  margin: auto;
  padding: 0px;
  width: 90%;
  display: flex;
  justify-content: center;
}

#todo-input{
  min-width: 70%;
  background-color: rgb(24, 23, 23);
  border-radius: 12px;
  border: rgb(24, 23, 23) 1px solid;
  color: white;
  padding: 8px;
  font-size: 1.1em;
  outline:none
}

#btn-add{
  background-color: white;
  border-radius: 50px;
  border: white 1px solid;
  color: rgb(24, 23, 23) ;
  padding: 10px;
  font-size: 0.9em;
  margin-left: 7px;
  height: 40px;
  width: 40px;
  align-items: center;
  
}

#btn-add:hover{
  background-color: rgb(24, 23, 23) ;
  border: rgb(24, 23, 23) 1px solid;
  color: white;
  align-items: center;
}

#btn-del{
  background-color: white;
  border-radius: 50px;
  border: white 1px solid;
  color: rgb(24, 23, 23) ;
  padding: 10px;
  font-size: 0.9em;
  margin-left: 7px;
  height: 40px;
  width: 40px;
  align-items: center;
  
}

#btn-del:hover{
  background-color: rgb(24, 23, 23) ;
  border: rgb(24, 23, 23) 1px solid;
  color: white;
  align-items: center;
}


hr{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

#todo-list{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#todo-list li {
      display: flex;
  justify-content: center;
  margin: auto;
  width: 90%;
}

.spanDo{
  width: 70%;
  background-color: rgb(24, 23, 23);
  border-radius: 12px;
  border: rgb(24, 23, 23) 1px solid;
  color: white;
  padding: 8px;
  font-size: 1.3em;
  margin-right: 7px;
  margin-bottom: 10px;
  
}

.btndel{
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  border: white 1px solid;
  color: rgb(24, 23, 23) ;
  padding: 7px;
  font-size: 1.2em;
  height: 36px;
  width: 36px;
}

.btndel:hover{
  background-color: rgb(24, 23, 23) ;
  border: rgb(24, 23, 23) 1px solid;
  color: white;

}

.btnadd{
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  border: white 1px solid;
  color: rgb(24, 23, 23) ;
  padding: 7px;
  font-size: 1.2em;
  height: 36px;
  width: 36px;
  margin:5px;
}

.btnadd:hover{
  background-color: rgb(24, 23, 23) ;
  border: rgb(24, 23, 23) 1px solid;
  color: white;


}

.buttonClicked {
  width: 70%;
  background-color: green;
  border-radius: 12px;
  border: rgb(24, 23, 23) 1px solid;
  color: white;
  padding: 8px;
  font-size: 1.3em;
  margin-right: 7px;
  margin-bottom: 10px;
  text-decoration: line-through;
}

.todo-btn{
  background: rgba( 158, 155, 155, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}